# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Model files
*.pkl
 backend/security_audit.log
backend/security_auditor.db
backend/uploads/*
!backend/uploads/.gitkeep

# --- Machine Learning Files (Too big for GitHub) ---
phishing_detection/models/*.pkl
phishing_detection/models/*.h5
phishing_detection/models/*.keras
phishing_detection/dataset/*.csv
# Large datasets
*.csv
*.zip

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db